snippet idoc "Intialize a Doc string for the module"
"""`!v expand("%:p:h:t")`	`!v expand("%:r")`

$1

"""
endsnippet

snippet gn "Get Numero"
${1:numero} = ${2:int}(input("${3:Digite }$4"))
endsnippet

snippet printf "Formmated print for python"
print("$1".format(${2:Args}))
endsnippet

snippet cpf "C formmated print for python"
print("${1:%s}\n" % ${2:Args})
endsnippet


snippet doc "Open a doc string"
"""$1

$2

"""
endsnippet

snippet oldoc "Open a one-line doc string"
"""$1 """
endsnippet
